{% set integration_name = 'reporter_engagement' %}
{% set display_name = 'Engagement' %}

<Test-Integration-Item
        instance_name="{{ integration_name }}"
        integration_name="{{ integration_name }}"
        display_name="{{ display_name }}"
        :project_integrations="{{ project_integrations }}"
>
    <template #selector="{selected_integration, is_selected}">
        <div class="security_integration_item" 
            data-name="reporter_engagement"
            :data-selected-integration="selected_integration"
        >
        </div>
    </template>
</Test-Integration-Item>

